@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

*{
    font-family: 'Staatliches', cursive;
    list-style-type: none;
    text-decoration: none !important;
}
p {
    font-family: 'Roboto', sans-serif;
}
/* pagina principal */
.featuredServices__title, .brands__tittle, h1, h2, h3{
    text-align: center;
    margin-top: 40px;
}
/* menu de escritorio */
.btn-outline-success {
    --bs-btn-color: #befe37;
    --bs-btn-border-color: #befe37;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #befe37;
    --bs-btn-hover-border-color: #befe37;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #befe37;
    --bs-btn-active-border-color: #befe37;
    --bs-btn-disabled-color: #befe37;
    --bs-btn-disabled-border-color: #befe37;
  }
  /* menu de navegacion mobile */
.navbar-expand-lg{
    padding: 10px 20px;
}
  .navbar-dark {
    --bs-navbar-hover-color: #befe37;
    background-color: #000 !important;
  }
/* banner para version escritorio */
.bannerTwo{
    display: none;
}
/* sub banners */
.subBanner{
    padding: 30px 0;
}
.subBanner img{
    width: 100%;
    margin: 10px 0;
}
/* pagina de servicios */
.card-body {
    background-color: #373737;
    border-radius: 0 10px 10px 0px;
  }
.servicesContainer, .brands{
    margin-top: 30px;
}
/* seccion de footer */
.footerContent{
    text-align: center;
    padding: 50px 0;
    background-color: #000 !important;
}
/* Diseno de aside */
.contenedorServices{
    background-image: linear-gradient(rgba(255, 0, 187, 0.5), rgba(255, 0, 123, 0.2)),url(../images/fondo-contacto.jpeg);
    background-size: cover;
}
.images__aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images__aside img {
    width: 50%;
    margin: 20px;
}
.btn-primary {
    --bs-btn-color: rgb(0, 0, 0);
    --bs-btn-bg: #befe37;
    --bs-btn-border-color: #befe37;
    --bs-btn-hover-color: rgb(0, 0, 0);
    --bs-btn-hover-bg: #befe37;
    --bs-btn-hover-border-color: #befe37;
    --bs-btn-active-bg: #befe37;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-disabled-bg: #befe37;
    --bs-btn-disabled-border-color: #befe37;
  }

@media (min-width: 576px) {
/* logo escritorio */
.headerOne__logo, .imagenGray{
    filter: grayscale(0);
    transition: 200ms;
}
/* logo y subbanner animaciones */
.headerOne__logo:hover{
    filter: grayscale(100%);
}
.imagenGray:hover {
    width: 98%;
    filter: grayscale(100%);
}
/* banner para version escritorio */
.bannerTwo{
    display: block;
}
.bannerOne{
    display: none;
}
/* pagina de servicios */
.mainServices{
    margin-left: 40px;
}
}